.cfd-header {
  background-image: url(../images/background.png);
  background-size: cover;
  @include calc(height, "100vh - 50px");

  .cfd-header-disclaimer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &:before {
      content: '';
      flex: 1;
    }

    .cfd-message-github {
      text-align: center;
      position: relative;
      top: 28px;
      font-size: 18px;
    }

    .cfd-image-github {
      font-size: 125px;
      height: 222px;
    }
  }

  .cfd-header-title {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

}
