.cfd-container {
  width: 100%;
  height: 100%;
}

.cfd-container header {
  background-image: url(../images/background.png);
  background-size: cover;
}

.cfd-container header .cfd-title{
  text-align: center;
  padding: 250px;
}

