$color-facebook: #46629E;
$color-twitter: #2AA9E0;
$color-linkedin: #0077B5;

.cfd-footer {
    background-color: #000;
    width: 100%;

  .cfd-footer-title {
    padding: 5px 20px 0px;
  }

  .cfd-wrapper-image {
    width: 200px;
    margin: 20px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 5px 12px;

    &:hover {
      z-index: 1;
      cursor: pointer;
      transform: scale(1.05);
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
    }

    .cfd-img-profile img {
      width: 100px;
      border-radius: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    .cfd-name-profile {
      padding: 5px;
      text-align: center;

      h4 {
        color: #696969;
      }
    }

    .cfd-contacts-profile {
      text-align: center;

      span {
        padding: 0px 12px;
      }
      [class*="facebook"] {
        color: $color-facebook;
      }
      [class*="twitter"] {
        color: $color-twitter;
      }
      [class*="linkedin"] {
        color: $color-linkedin;
      }
    }
  }
}

