.cfd-header {
  height: 700px;
  background-image: url(../../images/background.png);
  background-size: cover;

  .cfd-header-title {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .cfd-message-github {
    position: absolute;
    left: 50%;
    top: 43em;
    margin-left: -57px;
    width: 114px;
    height: 25px;
    margin-top: -25px;

    > span {
      font-size: 18px;
    }
  }

  .cfd-header-disclaimer {
    position: absolute;
    font-size: 130px;
    left: 50%;
    top: 5em;
    margin-left: -65px;
    width: 130px;
    height: 150px;
    margin-top: -75px;

    > a {
      display: inline-flex;
    }

  }


}
