.cfd-header {
  background-image: url(../images/background.png);
  background-size: cover;
  @include calc(height, "100vh - 50px");

  .cfd-header-title {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .cfd-message-github {
    position: absolute;
    bottom: 105px;
    left: 47%;

    > span {
      font-size: 18px;
    }
  }

  .cfd-header-disclaimer {
    position: absolute;
    font-size: 130px;
    bottom: -45px;
    left: 46%;

    > a {
      display: inline-flex;
    }

  }
}
