.cfd-header {
  height: 700px;
  background-image: url(../../images/background.png);
  background-size: cover;

  .cfd-header-title {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .cfd-header-disclaimer {
    text-align: center;
    position: relative;
    top: 68%;
    font-size: 130px;
  }
}
