nav {
  background-color: #333;
  width: 100%;
  position: absolute;
  top: 0;
}

nav .cfd-menubar {
  float: right;
}

nav .cfd-menubar li {
  display: inline-block;

  &:hover {
    opacity: 0.4;
  }
}

nav  .cfd-menubar li a {
    display: block;
    color: #fff;
    padding: 10px;
}
