nav {
  background-color: #333;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .cfd-logo {
    position: absolute;
    top: 0px;
    padding: 4px 0 0 20px;

    img {
      height: 50px;
    }
  }

  .cfd-menubar {
    float: right;
    margin-right: 5px;

    li {
      display: inline-block;
      padding: 0 12px;

      &:hover {
        background-color: #336C7D;
        border-radius: 4px;
      }

      a {
        display: block;
        color: #fff;
        padding: 6px;
      }
    }
  }
}