.cfd-article-posts {
  background-color: #fff;
  width: 100%;

  .cfd-posts-list {
    width: 75%;
    text-align: center;
    margin: 0 auto;

    .cfd-post-item {
      width: 350px;
      display: inline-block;
      height: 300px;
      overflow: hidden;
      margin: 20px;
      border: 1px solid #ccc;
      padding: 15px;
      border-radius: 10px;

        &:hover {
          z-index: 1;
          cursor: pointer;
          transform: scale(1.05);
          transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
          opacity: 0.3;
          @include box-shadow( 1px, 2px, 10px, 2px, rgba(0,0,0,0.75) );
        }

      .cfd-post-title {
        text-align: center;
        font-weight: bold;
      }

      .cfd-post-image {
        padding: 5px 0;

        img{
          width: 347px;
          height: 190px;
        }
      }

      .cfd-post-sumary {
        height: 78px;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cfd-article-posts {
    .cfd-posts-list {
      width: 95%;
      .cfd-post-item {
        height: 150px;
        width: 125px;

        .cfd-post-image {
          img {
            width: 125px;
            height: 108px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  a {color: green;}
}

@media screen and (min-width: 1200px) {
  a {color: black;}
}



