$background-color-categories: #E6E6E6;

.cfd-article-categories {
  background-color: $background-color-categories;
  width: 100%;

  .cfd-categories-list {
    .cfd-categories-item {
        display: inline-block;
        font-size: 100px;
        padding: 18px;
    }
  }
}