$background-color-subjects: #E6E6E6;

.cfd-article-subjects {
  background-color: $background-color-subjects;
  width: 100%;

  .cfd-subjects-list {
    .cfd-subjects-item {
        display: inline-block;
        font-size: 100px;
        padding: 18px;
    }
  }
}