@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?o46vf3");
  src: url("../../fonts/icomoon.eot?o46vf3#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?o46vf3") format("truetype"), url("../../fonts/icomoon.woff?o46vf3") format("woff"), url("../../fonts/icomoon.svg?o46vf3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'open-sans';
  src: url("../../fonts/open-sans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'open-sans-light';
  src: url("../../fonts/open-sans/OpenSans-Light.ttf"); }

@font-face {
  font-family: 'open-sans-semibold';
  src: url("../../fonts/open-sans/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: 'open-sans-bold';
  src: url("../../fonts/open-sans/OpenSans-Bold.ttf"); }

.icon-html5:before {
  content: "\e94a"; }

.icon-home:before {
  content: "\e900"; }

.icon-pencil:before {
  content: "\e901"; }

.icon-image:before {
  content: "\e902"; }

.icon-film:before {
  content: "\e903"; }

.icon-pacman:before {
  content: "\e904"; }

.icon-connection:before {
  content: "\e905"; }

.icon-file-text:before {
  content: "\e906"; }

.icon-file-empty:before {
  content: "\e907"; }

.icon-folder:before {
  content: "\e908"; }

.icon-address-book:before {
  content: "\e909"; }

.icon-envelop:before {
  content: "\e90a"; }

.icon-location:before {
  content: "\e90b"; }

.icon-alarm:before {
  content: "\e90c"; }

.icon-bell:before {
  content: "\e90d"; }

.icon-display:before {
  content: "\e90e"; }

.icon-laptop:before {
  content: "\e90f"; }

.icon-mobile:before {
  content: "\e910"; }

.icon-tablet:before {
  content: "\e911"; }

.icon-box-add:before {
  content: "\e912"; }

.icon-box-remove:before {
  content: "\e913"; }

.icon-undo2:before {
  content: "\e914"; }

.icon-redo2:before {
  content: "\e915"; }

.icon-bubble:before {
  content: "\e916"; }

.icon-user:before {
  content: "\e917"; }

.icon-quotes-left:before {
  content: "\e918"; }

.icon-quotes-right:before {
  content: "\e919"; }

.icon-spinner3:before {
  content: "\e91a"; }

.icon-spinner11:before {
  content: "\e91b"; }

.icon-zoom-in:before {
  content: "\e91c"; }

.icon-enlarge:before {
  content: "\e91d"; }

.icon-shrink:before {
  content: "\e91e"; }

.icon-fire:before {
  content: "\e91f"; }

.icon-power:before {
  content: "\e920"; }

.icon-list-numbered:before {
  content: "\e922"; }

.icon-list:before {
  content: "\e923"; }

.icon-cloud:before {
  content: "\e924"; }

.icon-cloud-download:before {
  content: "\e925"; }

.icon-cloud-upload:before {
  content: "\e926"; }

.icon-earth:before {
  content: "\e927"; }

.icon-attachment:before {
  content: "\e928"; }

.icon-happy:before {
  content: "\e929"; }

.icon-tongue:before {
  content: "\e92a"; }

.icon-grin:before {
  content: "\e92b"; }

.icon-evil:before {
  content: "\e92c"; }

.icon-shocked:before {
  content: "\e92d"; }

.icon-baffled:before {
  content: "\e92e"; }

.icon-confused:before {
  content: "\e92f"; }

.icon-cross:before {
  content: "\e930"; }

.icon-checkmark2:before {
  content: "\e931"; }

.icon-play2:before {
  content: "\e932"; }

.icon-embed:before {
  content: "\e933"; }

.icon-embed2:before {
  content: "\e934"; }

.icon-share2:before {
  content: "\e935"; }

.icon-google-drive:before {
  content: "\e936"; }

.icon-facebook:before {
  content: "\e937"; }

.icon-instagram:before {
  content: "\e938"; }

.icon-whatsapp:before {
  content: "\e939"; }

.icon-telegram:before {
  content: "\e93a"; }

.icon-twitter:before {
  content: "\e93b"; }

.icon-youtube2:before {
  content: "\e93c"; }

.icon-twitch:before {
  content: "\e93d"; }

.icon-dropbox:before {
  content: "\e93e"; }

.icon-github:before {
  content: "\e93f"; }

.icon-wordpress:before {
  content: "\e940"; }

.icon-tumblr2:before {
  content: "\e941"; }

.icon-tux:before {
  content: "\e942"; }

.icon-appleinc:before {
  content: "\e943"; }

.icon-android:before {
  content: "\e944"; }

.icon-linkedin:before {
  content: "\e945"; }

.icon-chrome:before {
  content: "\e946"; }

.icon-firefox:before {
  content: "\e947"; }

.icon-IE:before {
  content: "\e948"; }

.icon-html-five2:before {
  content: "\e949"; }

.icon-switch:before {
  content: "\e921"; }

.icon-css3:before {
  content: "\e94b"; }

.icon-circle-github:before {
  content: "\e94c"; }

.icon-github2:before {
  content: "\e94d"; }

.icon-java:before {
  content: "\e94e"; }

.icon-javascript:before {
  content: "\e94f"; }

.icon-jquery:before {
  content: "\e950"; }

.icon-php:before {
  content: "\e951"; }

.icon-rails:before {
  content: "\e952"; }

.icon-css32:before {
  content: "\e953"; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: initial; }

table {
  border-collapse: separate;
  border-spacing: 0; }

th, td {
  text-align: left;
  font-weight: normal; }

img, iframe {
  border: none;
  text-decoration: none; }

ol, ul {
  list-style: none; }

input, textarea, select, button {
  font-size: 100%;
  font-family: inherit; }

select {
  margin: inherit; }

hr {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  background-color: #000;
  height: 1px; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 25px; }

.cfd-container {
  width: 100%;
  height: 100%;
  font-family: open-sans;
  font-size: 14px; }

.cfd-hidden {
  display: none !important; }

.cfd-footer {
  background-color: #000;
  width: 100%; }
  .cfd-footer .cfd-footer-title {
    padding: 5px 20px 0px; }
  .cfd-footer .cfd-wrapper-image {
    width: 200px;
    margin: 20px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 5px 12px; }
    .cfd-footer .cfd-wrapper-image:hover {
      z-index: 1;
      cursor: pointer;
      transform: scale(1.05);
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease; }
    .cfd-footer .cfd-wrapper-image .cfd-img-profile img {
      width: 100px;
      border-radius: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%); }
    .cfd-footer .cfd-wrapper-image .cfd-name-profile {
      padding: 5px;
      text-align: center; }
      .cfd-footer .cfd-wrapper-image .cfd-name-profile h4 {
        color: #696969; }
    .cfd-footer .cfd-wrapper-image .cfd-contacts-profile {
      text-align: center; }
      .cfd-footer .cfd-wrapper-image .cfd-contacts-profile span {
        padding: 0px 12px; }
      .cfd-footer .cfd-wrapper-image .cfd-contacts-profile [class*="facebook"] {
        color: #46629E; }
      .cfd-footer .cfd-wrapper-image .cfd-contacts-profile [class*="twitter"] {
        color: #2AA9E0; }
      .cfd-footer .cfd-wrapper-image .cfd-contacts-profile [class*="linkedin"] {
        color: #0077B5; }

.cfd-header {
  height: 700px;
  background-image: url(../../images/background.png);
  background-size: cover; }
  .cfd-header .cfd-header-title {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .cfd-header .cfd-message-github {
    position: absolute;
    left: 50%;
    top: 43em;
    margin-left: -57px;
    width: 114px;
    height: 25px;
    margin-top: -25px;
    /*text-align: center;
    position: relative;
    top: 68%;*/ }
    .cfd-header .cfd-message-github > span {
      font-size: 18px; }
  .cfd-header .cfd-header-disclaimer {
    position: absolute;
    font-size: 130px;
    left: 50%;
    top: 5em;
    margin-left: -65px;
    width: 130px;
    height: 150px;
    margin-top: -75px; }
    .cfd-header .cfd-header-disclaimer > a {
      display: inline-flex; }

.cfd-article-posts {
  background-color: #fff;
  width: 100%; }
  .cfd-article-posts .cfd-post-item {
    width: 350px;
    display: inline-block;
    height: 300px;
    overflow: hidden;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px; }
    .cfd-article-posts .cfd-post-item:hover {
      z-index: 1;
      cursor: pointer;
      box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.75);
      transform: scale(1.05);
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease; }
    .cfd-article-posts .cfd-post-item .cfd-post-title {
      text-align: center;
      font-weight: bold; }
    .cfd-article-posts .cfd-post-item .cfd-post-image {
      padding: 5px 0; }
      .cfd-article-posts .cfd-post-item .cfd-post-image img {
        width: 347px;
        height: 190px; }
    .cfd-article-posts .cfd-post-item .cfd-post-sumary {
      height: 78px;
      overflow: hidden; }

.cfd-article-subjects {
  background-color: #E6E6E6;
  width: 100%; }
  .cfd-article-subjects .cfd-subjects-list .cfd-subjects-item {
    display: inline-block;
    font-size: 100px;
    padding: 18px; }

nav {
  background-color: #333;
  width: 100%;
  position: absolute;
  top: 0; }

nav .cfd-menubar {
  float: right; }

nav .cfd-menubar li {
  display: inline-block; }
  nav .cfd-menubar li:hover {
    opacity: 0.4; }

nav .cfd-menubar li a {
  display: block;
  color: #fff;
  padding: 10px; }

.cfd-article-panel {
  margin: 5px 50px; }
  .cfd-article-panel input, .cfd-article-panel textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    padding: 0 5px;
    font-size: 14px; }
  .cfd-article-panel textarea {
    height: 500px; }
  .cfd-article-panel input[type="file"] {
    width: 280px;
    height: 30px;
    padding-top: 8px; }
  .cfd-article-panel input[type="submit"] {
    width: auto;
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    box-sizing: border-box;
    height: 38px;
    width: 80px; }
  .cfd-article-panel .cfd-form-group {
    margin: 10px 0; }
