<!-- Code4Dummiez (cfd) -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <title>Code for Dummies</title>
</head>
<body>
  <section class="cfd-container">

    <header class="cfd-article-header">
      <div class="cfd-article-title">
        <h2>How Can You Measure UX Without Observing Users</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia sed lacus non tempor</h2>
      </div>
    </header>

    <nav>
      <ul class="cfd-menubar">
        <li><a href="../index.html#body" onclick="$('body').animatescroll();">Home</a></li>
        <li><a href="../index.html#posts" onclick="$('#posts').animatescroll();">Posts</a></li>
        <li><a href="../index.html#categories" onclick="$('#categories').animatescroll();">Categories</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#footer" onclick="$('#footer').animatescroll();">Contributors</a></li>
      </ul>
    </nav>

    <article class="cfd-article-content">
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed neque sollicitudin, consectetur ligula id, eleifend erat. Fusce tincidunt tortor ultricies urna consequat cursus. Aliquam at tincidunt risus, et laoreet libero. Phasellus et vehicula nisl. Mauris dui eros, pulvinar et nibh ac, placerat sagittis lorem. Suspendisse suscipit lacinia tempus. Aliquam finibus turpis ipsum, in laoreet mauris dignissim sed. Aliquam volutpat lacus velit, at ultrices ipsum vulputate et. Praesent eu dui nisi. Curabitur semper ante ac nibh sollicitudin blandit. Quisque aliquam aliquet interdum. Donec tempor pellentesque lorem quis auctor.
        </p>
        <p>
          Pellentesque sit amet odio dolor. Mauris non vulputate eros. Ut non enim vel purus placerat dictum vel vitae sapien. Sed luctus turpis in dui consequat, nec volutpat justo tincidunt. Sed lobortis sed elit id interdum. Proin mattis enim ut elit sagittis sodales. Praesent tincidunt placerat nisl, vitae tempus turpis maximus sed. Aliquam vel rutrum ante, ut ultricies ante. Morbi tristique massa sed nisl ultrices gravida.
        </p>
        <p>
          Suspendisse potenti. Maecenas scelerisque ex id maximus tincidunt. Sed euismod enim a dui varius, ac interdum turpis placerat. Aenean ut neque ex. Pellentesque cursus vitae enim id sollicitudin. Duis pharetra tempus enim a fringilla. Praesent ut erat vitae libero elementum pellentesque ac ut risus.
        </p>
        <p>
          Donec eu elementum elit, sed eleifend tortor. Quisque malesuada elit massa, vitae tempor dui commodo at. Mauris dui nisi, lobortis maximus est sed, porta tincidunt justo. Vivamus vel tincidunt mi. Donec vehicula augue non mollis porta. Suspendisse vulputate consectetur ligula ac accumsan. Nam auctor quam sit amet bibendum blandit. Nullam cursus odio vitae varius commodo. Proin sed eleifend tortor. Nulla semper vulputate ex in finibus. Morbi scelerisque rutrum lorem in vehicula. Quisque iaculis purus quis nisl vulputate iaculis. Etiam feugiat vitae nibh non congue.
        </p>
        <p>
          Phasellus eget quam vitae tortor ultrices laoreet. Quisque consectetur, nisl eget vehicula egestas, augue purus semper orci, sed rutrum erat magna eget nisi. Nulla eleifend ex quis mauris dictum, sit amet iaculis ipsum accumsan. Ut interdum ultrices nisi eu pharetra. Sed bibendum condimentum imperdiet. Nulla facilisi. In hac habitasse platea dictumst. Quisque nunc nibh, tempor at ultricies sed, porta non odio.
        </p>
        <p>
          Etiam cursus neque vitae felis dictum rutrum. Vestibulum in tristique sapien, et congue lorem. Pellentesque augue neque, aliquam ac fringilla quis, semper in odio. Etiam placerat nunc ac ipsum fermentum, a ornare arcu auctor. Maecenas lobortis nunc quis tortor sollicitudin scelerisque. Vivamus ullamcorper elementum sollicitudin. Fusce odio ipsum, luctus in accumsan ut, fringilla sed sapien. Sed vitae metus vel metus accumsan hendrerit ac sed neque. Nullam accumsan eget sem sit amet molestie. Pellentesque in ante auctor risus pulvinar ultrices. Sed vitae diam et ipsum ullamcorper semper quis a purus. Quisque consectetur nibh vel augue eleifend, nec convallis ex feugiat. Praesent venenatis nibh felis, at pharetra leo vulputate ac. Integer ullamcorper lorem vitae aliquam laoreet. Aliquam ultrices pretium risus, at lacinia odio consequat sed.
        </p>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed tempus vulputate porta. Nam sed orci et velit viverra eleifend. Ut bibendum convallis arcu at commodo. Aliquam at felis nulla. Nullam congue, arcu at scelerisque consequat, urna nisi vehicula elit, quis pharetra risus eros et lorem. Fusce mattis tortor eu luctus varius. Vivamus porttitor felis id bibendum porta. In commodo diam at orci scelerisque, sed varius neque aliquet. Donec gravida metus eget elementum vulputate. Fusce lorem urna, porttitor et tincidunt quis, efficitur ut erat.
        </p>
        <p>
          Ut accumsan arcu sit amet malesuada mollis. Cras consectetur fermentum dui sed accumsan. Integer rhoncus ultrices tortor at placerat. Duis vel dui non libero hendrerit auctor. Praesent nec pretium justo, non mattis orci. Aenean ac turpis sed odio vestibulum tristique nec vitae lectus. Duis viverra, metus nec tempus porta, enim erat imperdiet sapien, in tristique felis justo at ligula. Donec laoreet vitae sapien vel tincidunt. Vivamus id lectus odio. Donec fringilla hendrerit erat eu aliquam. Ut tempor, nunc dapibus bibendum suscipit, dui mauris congue elit, ullamcorper vulputate lectus magna in leo. Curabitur a purus vehicula, pulvinar justo non, ultricies quam. Aliquam erat volutpat. Donec dictum diam quis urna posuere pretium. Nulla eleifend sagittis leo, a sodales nisl.
        </p>
      </div>
    </article>

    <article class="cfd-article-categories" id="categories">
      <div class="cfd-section-tilte">
        <h2> &#60;Categories &#47;&#62;</h2>
        <h4>Filter for subjects of your behalf</h4>
      </div>

      <ul class="cfd-categories-list">
        <li class="cfd-categories-item">
          <a href="#"><span class="icon-html5"></span></a>
        </li>
        <li class="cfd-categories-item">
          <a href="#"><span class="icon-javascript"></span></a>
        </li>
        <li class="cfd-categories-item">
          <a href="#"><span class="icon-jquery"></span></a>
        </li>
        <li class="cfd-categories-item">
          <a href="#"><span class="icon-css32"></span></a>
        </li>
        <li class="cfd-categories-item">
          <a href="#"><span class="icon-java"></span></a>
        </li>
        <li class="cfd-categories-item">
          <a href="#"><span class="icon-php"></span></a>
        </li>
        <li class="cfd-categories-item">
          <a href="#"><span class="icon-rails"></span></a>
        </li>
      </ul>
    </article>
  </section>

  <script src="../assets/vendors/jquery.min.js"></script>
  <script src="../assets/vendors/animatescroll.min.js"></script>
  <script src="../assets/js/script.js"></script>
</body>
</html>